
body{
    background-image: url("https://images7.alphacoders.com/408/408321.jpg");
       background-attachment: fixed;
       width: 100vw;
       height: 90vh;
       background-repeat: no-repeat;
}


.container{
    background-color: black;
    width: 100%;
}
header img{
    width: 80px;
    display: flex;
    justify-content: right;
    
}
.topo h1{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: -72px;
    
}

.topo p{
    display: flex;
    color: white;
    justify-content: center;
}

.meio{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100vw;

}

.carrosel1 img{
   display: flex;
   justify-content: center;
   align-items: center;
}

.dourado{
    background-color: darkgoldenrod;
    border: none;
    display: flex;
    justify-content: center;
    width: 30%;
}

footer { 
    background-color: rgb(0, 0, 0); 
    padding: 10px;
     text-align: center; 
     font-size: 15px; 
     color: rgb(255, 255, 255); 
    
}

main h1{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    
}

.row{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#app img{
    width: 40%;
    display: flex;
    justify-content: center;
}

#app{
    display: flex;
    flex-direction: row;
}

.sobre p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin-top: 50px;
}

.mb-3 label{
    color:white;
}
.form-text{
    color: white;
}

